body {
  background-color: pink;
}

h1 {
  color: SlateBlue;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  /*multple so incase if diffrernt devices cant use other fonts*/
}

/* use .header to call for class*/
.header {
  background-color: LightYellow;
  /*box model: padding is inside box model, marhim=outside*/
  padding-left: 100px;
}

.tagline {
  border: 1px solid black;
  padding-left: 50px; 
  font-size: 15px;
}

img {
  width: 70%; /* if just w, then will auto update h*/
  height: 300px;
}

p, h2, h4 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;  
}

/* by doing this, you see where all elements sitting
div {
  border: 1px solid black;
}*/

.footer{
  background-color: LightGreen;
  color: DarkSlateBlue;
  border: 1px solid black;
  font-size: 20px;
  padding-left: 10px
}
